In [1]:
import yfinance as yf
import pandas as pd

In [49]:
tickers = ['AAPL', 'GOOGL']

train_start_date = "2023-10-09"
train_end_date = "2023-10-14"

time_frame = '1m'

In [50]:
df = None

for ticker in tickers:
    data = yf.download(tickers=ticker,
                    start=train_start_date,
                    end=train_end_date,
                    interval=time_frame
                    )
    # set datetime to a column
    data.reset_index(inplace=True)

    # all columns to lowercase
    data.columns = data.columns.str.lower()

    #insert tic column
    data.insert(0, 'tic', [ticker] * data.shape[0])

    # get sma
    close_5_sma = data['close'].rolling(window=5).mean()
    close_20_sma = data['close'].rolling(window=30).mean()
    close_60_sma = data['close'].rolling(window=60).mean()

    # get bollinger band
    std = data['close'].rolling(window=20).std()
    boll_ub = close_20_sma + 2 * std
    bool_lb = close_20_sma - 2 * std

    # insert indicators
    data.insert(8, 'close_5_sam', close_5_sma)
    data.insert(8, 'close_20_sam', close_20_sma)
    data.insert(8, 'close_60_sam', close_60_sma)
    data.insert(8, 'boll_ub', boll_ub)
    data.insert(8, 'boll_lb', bool_lb)

    # cut out first 60 data
    data = data[:][60:]
    
    if df is None:
        df = data
    else:
        df = pd.concat([df, data], axis=0)

[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed

In [51]:
df

,tic,datetime,open,high,low,close,adj close,volume,boll_lb,boll_ub,close_60_sam,close_20_sam,close_5_sam
60,AAPL,2023-10-09 10:30:00-04:00,176.869995,176.924805,176.729996,176.800003,176.800003,99774,176.291086,177.266081,176.741240,176.778584,176.964020
61,AAPL,2023-10-09 10:31:00-04:00,176.789993,176.929993,176.770004,176.929993,176.929993,93343,176.344236,177.199931,176.746073,176.772084,176.925998
62,AAPL,2023-10-09 10:32:00-04:00,176.919998,176.979996,176.789993,176.830002,176.830002,79627,176.394789,177.135379,176.755723,176.765084,176.871997
63,AAPL,2023-10-09 10:33:00-04:00,176.830002,176.930099,176.770004,176.929993,176.929993,37265,176.460431,177.082403,176.766973,176.771417,176.871997
64,AAPL,2023-10-09 10:34:00-04:00,176.914398,176.939896,176.779999,176.789993,176.789993,72103,176.510816,177.051530,176.776640,176.781173,176.855997
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1941,GOOGL,2023-10-13 15:55:00-04:00,137.460007,137.460007,137.240005,137.289993,137.289993,125776,137.165634,137.511726,137.446765,137.338680,137.395999
1942,GOOGL,2023-10-13 15:56:00-04:00,137.279999,137.345001,137.270004,137.304993,137.304993,124667,137.165710,137.505983,137.446348,137.335846,137.393997
1943,GOOGL,2023-10-13 15:57:00-04:00,137.309998,137.324997,137.210007,137.240005,137.240005,156677,137.163050,137.502849,137.443348,137.332950,137.349997
1944,GOOGL,2023-10-13 15:58:00-04:00,137.240005,137.279999,137.205002,137.225006,137.225006,171523,137.164560,137.498740,137.438765,137.331650,137.304999
1945,GOOGL,2023-10-13 15:59:00-04:00,137.225006,137.369995,137.130005,137.339996,137.339996,802351,137.166819,137.498480,137.435598,137.332650,137.279999

In [30]:
sma_short =

In [31]:
sma_short

0              NaN
1              NaN
2              NaN
3              NaN
4              NaN
           ...
1941    137.429482
1942    137.424781
1943    137.415982
1944    137.406682
1945    137.399482
Name: close, Length: 3893, dtype: float64